body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#management, #selection, #test, #testPage {
    margin-bottom: 20px;
}

#testPage {
    display: none;
}

#result {
    margin-top: 10px;
}
